```
=================================================
 Model Inference
=================================================
```

# **J. Model Inference**

Model yang sudah dilatih akan dicoba pada data yang bukan termasuk ke dalam train-set ataupun test-set. Data ini harus dalam format yang asli, bukan data yang sudah di-scaled. Model Inference harus berada pada notebook yang berbeda dari notebook yang dipakai untuk pembuatan model.

In [1]:
# Import libraries
import pandas as pd
import joblib

In [2]:
# Load pipeline model
model = joblib.load('model_pipeline_SVM.pkl')

## **J.1 - Data User 1**

In [3]:
# Create a new data user 1
# Use all columns not just the results of feature selection

user1_inf = {
    'age': 35,
    'job': 'technician',
    'marital': 'married',
    'education': 'unknown',  # Changed to 'unknown'
    'default': 'no',
    'balance': 550,
    'housing': 'no',
    'loan': 'yes',
    'contact': 'cellular',
    'day': 25,
    'month': 'jun',
    'duration': 30,
    'campaign': 2,
    'pdays': -1,
    'previous': 0,
    'poutcome': 'unknown',
}

user1_inf = pd.DataFrame([user1_inf])
user1_inf

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,35,technician,married,unknown,no,550,no,yes,cellular,25,jun,30,2,-1,0,unknown

In [4]:
# Prediksi probabilitas dan kelas
predicted_class = model.predict(user1_inf)


print("Hasil Prediksi (Class):", predicted_class[0])

Hasil Prediksi (Class): 0

## **J.2 - Data User 2**

In [5]:
# Create a new data user 2 with different characteristics to see how the model predicts
user2_inf = {
    'age': 45,
    'job': 'management',
    'marital': 'divorced',
    'education': 'tertiary',
    'default': 'no',
    'balance': 1200,
    'housing': 'yes',
    'loan': 'no',
    'contact': 'telephone',
    'day': 10,
    'month': 'aug',
    'duration': 150,
    'campaign': 1,
    'pdays': 90,
    'previous': 1,
    'poutcome': 'success',
}

user2_inf = pd.DataFrame([user2_inf])
user2_inf

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,45,management,divorced,tertiary,no,1200,yes,no,telephone,10,aug,150,1,90,1,success

In [6]:
# Prediksi probabilitas dan kelas untuk User 2
predicted_class_user2 = model.predict(user2_inf)

print("Hasil Prediksi (Class) for User 2:", predicted_class_user2[0])

Hasil Prediksi (Class) for User 2: 1

Insight :

- User 1 (Prediksi = 0): Durasi percakapan singkat, ada pinjaman aktif, dan tidak ada riwayat promosi sukses → kecil kemungkinan membuka deposito.

- User 2 (Prediksi = 1): Durasi percakapan lama, saldo tinggi, tidak ada pinjaman, dan riwayat promosi sukses → besar kemungkinan membuka deposito.